@model PatiKopru.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Şifreyi Değiştir</h1>

<form asp-action="ChangePassword" asp-controller="User" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control" type="password">
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" type="password">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="password">
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>
</form>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                Swal.fire({
                    icon: 'success',
                    title: 'Başarılı!',
                    text: successMessage,
                    confirmButtonText: 'Tamam'
                });
            }
        });
    </script>
}

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css" rel="stylesheet" />
}